<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>foxverse - {{title}}</title>
		<meta http-equiv="content-style-type" content="text/css">
		<meta http-equiv="content-script-type" content="text/javascript">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="https://assets.foxverse.xyz/css/offdevice.css">
		<script src="https://assets.foxverse.xyz/js/complete-en.js"></script>
	</head>
	<body class="guest-top guest">
		<div id="wrapper">
			<div id="sub-body">
				<menu id="global-menu">
					<li id="global-menu-logo">
						<h1><a href="/"><img src="https://assets.foxverse.xyz/img/menu-logo.png" alt="foxverse" width="165" height="30"></a></h1>
					</li>
					<li id="global-menu-login">
						<form id="login_form" action="/signin" method="post">
							<input type="hidden" name="location" value="/">
							<input type="image" alt="Sign in" src="https://assets.foxverse.xyz/img/signin_base.png">
						</form>
					</li>
				</menu>
			</div>
            {% block mainContent %}
            {% endblock %}
		</div>
	</body>
</html>