<style>
body, h1 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background-color: #000;
	color: #fff;
}
</style>
<audio loop autoplay="true" src="/knas.mp3"></audio>
<h1 align="center">Soon™</h1>
